.productCSS{
    margin: 30px;
    width: 250px;
    height: 370px;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.productImg{
    margin-top: 20px;
    width: 200px;
    height: 180px;
    overflow: hidden;
    background-color: #f2f2f2;
    margin-left: 10px;
}
.productImg img{
    height: 100%;
    width: 100%;
}

.productTitle{
width: 160px;
height: auto;
text-align: center;
font-size: 14px;
margin-top: 10px;
margin-left: 10px;
}

.buttonStyle{
margin: 10px;
width: 140px;
font-size: 15px;
}

p{
    text-align: center;
}

.amountCSS{
    color: cornflowerblue;
    font-size: 13px;
}

.LikeCSS{
    width: 30px;
    height: 30px;
    position:absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.LikeCSS:hover{
    background-color: #f2f2f2;
}