.basket{
    position: relative;
    cursor: pointer;
    align-self: flex-end;
}

.storesvg{
    height: 35px;
    width: auto;
}
.basketQuantity{
    height: 22px;
    width: 22px;
    background-color: aqua;
    border-radius: 20px;
    position: absolute;
    top: -9px;
    right: -5px;
    text-align: center;
    font-size: 12px;
}
