.errorContainer{
    height: 20vh;
    width: 1200px;
    margin: 200px  auto;
    display: flex;
    flex-direction: column;
    align-items: center;        
}

.errorContainer a{
    font-size: 20px;
}

.errorContainer .errorType{
    font-size: 50px;
}
.errorContainer .errorText{
    font-size: 20px;
}
